# Server Configuration
PORT=5000
NODE_ENV=development
# Timezone for the application (UTC-6 = Central Standard Time)
TZ=Etc/GMT+6

# Database Configuration
DB_HOST=hostname
DB_PORT=port
DB_USER=root
DB_PASSWORD=password
DB_NAME=database

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=7d

# CORS Configuration
CORS_ORIGIN=http://localhost:3000


# Current mode: "ethereal" for test, "brevo" for production
MAIL_SERVICE="ethereal"
BREVO_API_KEY="BREVOKEYHERE"
VERIFIED_SENDER_EMAIL="EMAIL"
